{{ $pending := "true" }}
{{ if or (eq .Status "Available") (eq .Status "Error") }}
{{ $pending = "false" }}
{{ end }}

<tr id="audio-{{ .ID }}">
    <td>
    {{ if eq $pending "false" }}
        <audio controls>
        <source src="/audio/{{ .ID }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    {{ end }}
    </td>
    <td class="name-column">
        {{ .Meta.Channel }} - {{ .Meta.Title }}
    </td>
    <td>
        <div class="info-icon">
            ℹ️
            <div class="info-window">
                {{ .ID }}
            </div>
        </div>
        <div class="info-icon">
            <a href="{{ .Meta.URL }}" target="_blank">▶️</a>
            <div class="info-window">{{ .Meta.URL }}</div>
        </div>
    </td>
    <td>
        {{ .Status }}
    </td>
    <td>
        <button class="delete-button" hx-delete="/audio/{{ .ID }}" hx-target="#audio-{{ .ID }}" hx-swap="outerHTML swap:1s">Delete</button>
    </td>
</tr>
