<tr id="audio-{{ .ID }}">
    <td>
        <audio controls>
            <source src="/audio/{{ .ID }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </td>
    <td class="name-column">
        {{ .Channel }} - {{ .Title }}
    </td>
    <td>
        <div class="info-icon">
            <span aria-label="Info">ℹ️</span>
            <div class="info-window">
                {{ .ID }}
            </div>
        </div>
        <div class="info-icon">
            <a href="{{ .SourceURL }}" target="_blank"><span aria-label="Go to source">▶️</span></a>
            <div class="info-window">{{ .SourceURL }}</div>
        </div>
        <div class="info-icon">
            <a href="/audio/{{ .ID }}?download"><span aria-label="Download">💾</span></a>
            <div class="info-window">Download</div>
        </div>
    </td>
    <td>
        <span class="status-text">
            {{ .Status }}
        </span>
    </td>
    <td>
        <button class="delete-button" hx-delete="/audio/{{ .ID }}" hx-target="#audio-{{ .ID }}"
            hx-swap="outerHTML swap:1s">Delete</button>
    </td>
</tr>
