<!-- tabslist -->
{{ range $key, $value := .Tabs }}
    <div id="tab-{{ $key }}" class="tab{{ if eq $key $.tab }} active{{ end }}" hx-get="/content/{{ $key }}" hx-trigger="click" hx-target="#content" hx-swap="innerHTML" onclick="switchTab(this)">
        <span class="tab-name" id="tab-{{ $key }}">{{ $value }}</span>
        <button style="visibility: {{ if eq $key $.tab }} visible {{ else }} hidden {{ end }};" class="edit-button" hx-get="/tab/edit/{{ $key }}" hx-target="#tab-{{ $key}}" hx-swap="outerHTML">🖉</button>
    </div>
{{ end }}
    <!-- Plus button for adding new tabs -->
    <button class="plus-button" id="add-tab" hx-post="/tab/{{ $.tab }}" hx-trigger="click" hx-target="#tabs-container">+</button>
<!-- /tabslist -->
